.formControl span{
	
}
.formControl.error input,
.formControl.error textarea {
	border: 2px solid red;
}
.formControl.error span {
	/* display: block;
	visibility: visible; */
	color: red;
}

.formSummaryError {
	padding: 5px;
	color: red;
	border: 2px solid red;
}