.app-wrapper {
	display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-template-areas:
		"header header"
		"nav main-content";
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
}

.content {
	grid-area: main-content;
	min-height: 100vh;
	background-color: lightgray;
}



