.app-wrapper {
	display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-template-areas:
		"header header"
		"nav main-content";
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
}

.header {
	grid-area: header;
	background-color: black;
}
.nav {
	grid-area: nav;
	background-color: gray;
}
.content {
	grid-area: main-content;
	min-height: 100vh;
	background-color: lightgray;
}
.content img {
	display: block;
	width: 100%;
	height: auto;
}

